body {
    font-family: 'Montserrat', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: #333333;
}

main {
    text-align: center;
    z-index: 1;
    color: #fff;
    position: fixed;
    left: 50%;
    transform: translate(-50%, +50%);
}


h1,
h2 {
    user-select: none;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Media Query'ler ile Responsive Ayarlar */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 4em; /* Mobil ekranlar için başlık boyutunu küçült */
    }

    h2 {
        font-size: .5em; /* Mobil ekranlar için başlık boyutunu küçült */
    }
}

/* Daha fazla media query ekleyebilirsiniz */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    h1 {
        font-size: 5em; /* Tablet boyutları için başlık boyutunu ayarla */
    }

    h2 {
        font-size: 1.8em; /* Tablet boyutları için başlık boyutunu ayarla */
    }
}

h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 700;
    font-size: 6em;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin: 0;
    margin-bottom: 50px;
    color: white;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.round-button {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    /* Metni dikeyde ortalamak için line-height ekleniyor */
    text-align: center;
    /* Metni yatayda ortala */
    border-radius: 90%;
    background-color: #222222;
    /* Renk: Mavi (Örnek renk) */
    color: #fff;
    font-size: 1em;
    overflow: hidden;
    cursor: pointer;
    border: none;
    outline: 2px solid white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transform ve arka plan renk geçişleri ekleniyor */
}

.round-button:hover {
    content: "";
    background-color: black;
    /* Hover rengi: Daha koyu mavi (Örnek renk) */
    transform: scale(1.2);
    /* Hover durumunda 1.2 kat büyüt */
    background-image: url('https://media.licdn.com/dms/image/D4D03AQG6Pnfp7XgwMQ/profile-displayphoto-shrink_200_200/0/1691618316768?e=1710979200&v=beta&t=-XeXmo0MmLhmlSgPHAEIw3UKADddB-NcE-Tg_NVZZEI');
    /* Buttonun içindeki görsel */
    background-size: cover;
    background-opacity: 0.5;
    color: white;
    font-weight: 700;
    overflow: hidden;
    text-align: center;
    line-height: 80px;
    /* Metni dikeyde ortalamak için line-height ekleniyor */
    background-color: rgba(155, 155, 155, 0.7);
    font-size: .9em;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.round-button::before {
    content: "";
    position: absolute;
    border-radius: 90%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 0, 0.25);
    /* Arka plan rengi: Mavi (Opak) */
    z-index: -1;
    transition: transform 0.3s ease;
    /* Hover durumunda arka planı büyütme efekti ekleniyor */
    transform: scale(0);
    /* Başlangıçta arka planı sıfıra küçült */
    transform-origin: center;
}

.round-button:hover::before {
    transform: scale(1);
    /* Hover durumunda arka planı normal boyuta getir */
}

.round-button a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.25;
}